// Config prova

// Manifest
manifest {
  name = 'phylo_inference'
  author = 'Andrea Cossa'
  //homePage = 'https://github.com/andrecossa5/phylo_inference.git'
  description = 'Mitochondrial phylogenies with Cassiopeia.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

  conda_garr {
    conda.enabled = true
    conda.envPath = '/home/ieo5505/mambaforge/envs/MI_TO'    
  }
  docker_local {
    docker.enabled = true
    docker.runOptions = '--volume /Users/:/Users/'
  }
  conda_local {
    conda.enabled = true
    conda.envPath = '/Users/IEO5505/mambaforge/envs/MI_TO'
  }

}

// Processes
process {

  errorStrategy = 'retry'
  maxRetries = 3

  withName: CASSIOPEIA {
    cpus = 4
    memory = { 10.GB * task.attempt }
  }
}

// Tracing
trace {
  enabled = true
  file = "trace.txt"
  overwrite = true
}

// Tracing
tower {
  enabled = true
}
