// Config prova

// Manifest
manifest {
  name = 'mito_benchmark'
  author = 'Andrea Cossa'
  //homePage = 'https://github.com/andrecossa5/MI_TO.git'
  description = 'Mitochondrial variants based transcriptioanl lineage tracing benchmark.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

  hpcieo {
    executor.name = 'pbspro'
    process.queue = 'workq'
    singularity.enabled = true
    singularity.cacheDir = '~/.singularity'
    singularity.runOptions = '--bind /hpcnfs'
  }
  hpcgarr {
    singularity.enabled = true
    singularity.cacheDir = '~/.singularity'
    singularity.runOptions = '--bind /data'
  }
  local {
    docker.enabled = true
    docker.runOptions = '--volume /Users/:/Users/'
  }

}

// Processes
// process {
//}

// Tracing
trace {
  enabled = true
  file = "trace.txt"
}
