// Config prova

// Manifest
manifest {
  name = 'phylo_inference'
  author = 'Andrea Cossa'
  //homePage = 'https://github.com/andrecossa5/phylo_inference.git'
  description = 'Mitochondrial-based phylogeny inference.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

  conda_garr {
    conda.enabled = true
    conda.envPath = '/home/ieo5505/mambaforge/envs/MI_TO'    
  }
  conda_local {
    conda.enabled = true
    conda.envPath = '/Users/IEO5505/mambaforge/envs/MI_TO'
  }
  local {
    docker.enabled = true
    docker.runOptions = '--volume /Users/:/Users/'
  }
  garr {
    singularity.enabled = true
    singularity.runOptions = '--bind /data/:/data/'
  }

}

// Processes
process {

  // errorStrategy = 'retry'
  // maxRetries = 2

  withName: PREP_INPUT {
    cpus = 8
    memory = { 4.GB * task.attempt }
    container = 'acox1/mi_to:1.2'
  }
  withName: BOOTSTRAP {
    cpus = 1
    memory = { 1.GB * task.attempt }
    container = 'acox1/mi_to:1.2'
  }
  withName: BUILD_CASSIOPEIA {
    cpus = 4
    memory = { 4.GB * task.attempt }
    container = 'acox1/mi_to:1.2'
  }
  withName: BUILD_IQTREE {
    cpus = 4
    memory = { 2.GB * task.attempt }
    container = 'acox1/mi_to:1.2'
  }
  withName: BUILD_MPBOOT {
    cpus = 4
    memory = { 2.GB * task.attempt }
    container = 'acox1/mi_to:1.2'
  }
  withName: FILTER_AFM {
    cpus = 4
    memory = { 5.GB * task.attempt }
    container = 'acox1/mi_to:1.2'
  }
}

// Tracing
trace {
  enabled = true
  file = "trace.txt"
  overwrite = true
}

// Tracing
tower {
  accessToken = 'eyJ0aWQiOiAyNn0uODg3NGVhMDMzZjdiNjBkMGUwMTRlNjAyYjA2ODQ5NDBhYjNkODRiNw=='
  endpoint= 'https://seqera.ieo.it/api'
  enabled = true
  workspaceId = '178653702436441'
}
